pkgbase = remote-recorder
	pkgdesc = Remote recorder.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/remote-recorder
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = dynssh
	depends = libcrash-bash
	depends = rsync
	source = remote-recorder-ded43999ce909059f0677fab97d79a3da0046609.zip::https://github.com/themartiancompany/remote-recorder/archive/ded43999ce909059f0677fab97d79a3da0046609.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = 0a9ea367ca2cf9f5f9f18a18c35cbdc59ea020f61927deaa5cdd9df60fc589d4

pkgname = remote-recorder
